.swipeButtons{
    position: fixed;
    bottom:10vh;
    display: flex;
    width:100%;
    justify-content: space-evenly;
    
}/*repeat,left,right,star,lightning*/
.swipeButton .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3);
}

.swipeButton_left{
    padding: 3vw;
    color:rgba(238, 31, 3, 0.938);
}
.swipeButton_right{
    padding: 3vw;
    color:rgb(90, 233, 34);
}
.swipeButton_star{
    padding: 3vw;
    color:rgb(127, 29, 255);
}
.swipeButton_repeat{
    padding: 3vw;
    color:chartreuse;

}
.swipeButton_lightning{
    padding: 3vw;
    color:rgb(248, 45, 248);
}